* {
    font-family: 'Oswald', sans-serif;
}
body{
    margin: 0;
}
:root {
    --black : #1f1c1c ;
    --main : #E05D5D ;
}
/*header*/
.header {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 3;
    box-shadow: 2px 2px 18px 0px #606060;
}
.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container p {
    font-size: 25px;
    color: var(--black);
}
@media (max-width : 300px) {
    .header .container p {
        font-size: 20px;
    }
}
@media (max-width : 235px) {
    .header .container p {
        font-size: 16px;
    }
}
/*landing*/
.landing{
    background-size: cover;
    background-blend-mode: lighten;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.landing::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255 , 0.25);
}
.landing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.landing .container a {
    color: white;
    text-decoration: none;
    background-color: black;
    width: 150px;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 16px;
    position: relative;
    z-index: 3;
    cursor: pointer;
    border: 3px solid black;
    transition: 0.3s;
}
.landing .container a:last-child{
    margin-bottom: 0 !important;
}
.landing .container a:hover{
    background-color: white;
    color: black;
    border: 3px solid black;
}
/*firstrow*/
.firstrow {
    height: 475px;
    width: 475px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 20s 3s linear infinite forwards , paddingdec 1.5s forwards;
    border: 5px solid black;
    border-radius: 50%;
}
.firstrow div{
    font-size: 80px;
    font-weight: 100;
}
.firstrow .nine {
    position: absolute;
    animation: nine 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .twelve {
    position: absolute;
    animation: twelve 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .six {
    position: absolute;
    animation: six 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .three {
    position: absolute;
    animation: three 3s forwards , rotate 20s 3s linear infinite forwards ;
}
.firstrow .eleven {
    position: absolute;
    animation: eleven 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .ten {
    position: absolute;
    animation: ten 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .two {
    position: absolute;
    animation: two 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .eight {
    position: absolute;
    animation: eight 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .four {
    position: absolute;
    animation: four 3s forwards , rotate 20s 3s linear infinite forwards ;
}
.firstrow .one {
    position: absolute;
    animation: one 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .seven {
    position: absolute;
    animation: seven 3s forwards , rotate 20s 3s linear infinite forwards;
}
.firstrow .five {
    position: absolute;
    animation: five 3s forwards , rotate 20s 3s linear infinite forwards;
}
@keyframes paddingdec {
    0%{
        padding: 1000px;
    }
    100%{
        padding: 0;
    }
}
@keyframes twelve {
    0%{
        top: -200px;
    }
    100%{
        top: 0;
    }
}
@keyframes nine {
    0%{
        left: -600px;
    }
    100%{
        left: 10px;
    }
}
@keyframes six {
    0%{
        bottom: -200px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes three {
    0%{
        right: -600px;
    }
    100%{
        right: 10px;
    }
}
@keyframes eleven {
    0%{
        top : -200px ;
        left: -600px;
    }
    100%{
        top: 25px;
        left: 23%;
    }
}
@keyframes ten {
    0%{
        top : -200px ;
        left: -600px;
    }
    100%{
        top: 100px;
        left: 10%;
    }
}
@keyframes two {
    0%{
        top : -200px ;
        right: -600px;
    }
    100%{
        top: 100px;
        right: 10%;
    }
}
@keyframes eight {
    0%{
        bottom : -200px ;
        left: -600px;
    }
    100%{
        bottom: 100px;
        left : 10%;
    }
}
@keyframes seven {
    0%{
        bottom : -200px ;
        left: -600px;
    }
    100%{
        bottom: 25px;
        left: 23%;
    }
}
@keyframes five {
    0%{
        bottom : -200px ;
        right: -600px;
    }
    100%{
        bottom: 25px;
        right: 23%;
    }
}
@keyframes four {
    0%{
        bottom : -200px ;
        right: -600px;
    }
    100%{
        bottom: 100px;
        right : 10%;
    }
}
@keyframes one {
    0%{
        top : -200px ;
        right: -600px;
    }
    100%{
        top: 25px;
        right: 23%;
    }
}
@keyframes rotate {
    100%{
        transform: rotate(1turn);
    }
}
@media (max-width: 485px){
    .firstrow div{
        font-size: 60px;
    }
    .firstrow {
        height: 400px;
        width: 400px;
    }
    .landing .container a {
        padding: 8px;
        margin-bottom: 8px;
    }
}
@media (max-width: 415px){
    .firstrow div{
        font-size: 45px;
    }
    .firstrow {
        height: 350px;
        width: 350px;
    }
    @keyframes ten {
        0%{
            top : -200px ;
            left: -600px;
        }
        100%{
            top: 75px;
            left: 10%;
        }
    }
    @keyframes two {
        0%{
            top : -200px ;
            right: -600px;
        }
        100%{
            top: 75px;
            right: 10%;
        }
    }
    @keyframes eight {
        0%{
            bottom : -200px ;
            left: -600px;
        }
        100%{
            bottom: 75px;
            left : 10%;
        }
    }
    @keyframes four {
        0%{
            bottom : -200px ;
            right: -600px;
        }
        100%{
            bottom: 75px;
            right : 10%;
        }
    }
}
@media (max-width : 350px){
    .firstrow {
        height: 300px;
        width: 300px;
    }
    .landing .container a {
        padding: 8px;
        width: 125px;
        margin-bottom: 8px;
    }
}
/*secondrow*/
.secondrowcont{
    position: absolute;
}
.secondrow {
    width: 750px;
    height: 750px;
    position: relative;
    border: 10px double black;
    border-radius: 50%;
    animation: rotate 20s 4s linear infinite forwards , paddingdec 2s forwards;
}
.secondrow div {
    font-size: 100px ;
    font-weight: 200;
    position: absolute;
}
.secondrow .nine {
    position: absolute;
    transform: translate(0,-50%);
    animation: secondnine 4s forwards , rotateoppnine 20s 4s linear infinite forwards ;
}
.secondrow .twelve {
    transform: translate(-50% , 0);
    animation: secondtwelve 4s forwards , rotateopptwelve 20s 4s linear infinite forwards;
}
.secondrow .six {
    bottom: -30px;
    left: 50%;
    transform: translate(-50% , 0);
    animation: secondsix 4s forwards , rotateopptwelve 20s 4s linear infinite forwards;
}
.secondrow .three {
    bottom: 50%;
    right: 0;
    transform: translate(0,50%);
    animation: secondthree 4s forwards , rotateoppthree 20s 4s linear infinite forwards;
}
.secondrow .eleven {
    animation: secondeleven 4s forwards , rotateopp 20s 4s linear infinite forwards;
}
.secondrow .ten {
    animation: secondten 4s forwards , rotateopp 20s 4s linear infinite forwards;
}
.secondrow .one {
    animation: secondone 4s forwards , rotateopp 20s 4s linear infinite forwards;
}
.secondrow .two {
    animation: secondtwo 4s forwards , rotateopp 20s 4s linear infinite forwards;
}
.secondrow .seven {
    animation: secondseven 4s forwards , rotateopp 20s 4s linear infinite forwards;
}
.secondrow .eight {
    animation: secondeight 4s forwards , rotateopp 20s 4s linear infinite forwards;
}
.secondrow .five {
    animation: secondfive 4s forwards , rotateopp 20s 4s linear infinite forwards;
}
.secondrow .four {
    animation: secondfour 4s forwards , rotateopp 20s 4s linear infinite forwards;
}
@keyframes secondtwelve {
    0%{
        top: -200px;
    }
    100%{
        top: -30px;
        left: 50%;
    }
}
@keyframes secondsix {
    0%{
        bottom: -600px;
        left: 50%;
    }
    100%{
        bottom: -30px;
        left: 50%;
    }
}
@keyframes secondnine {
    0%{
        left: -600px;
    }
    100%{
        top: 50%;
        left: 0;
    }
}
@keyframes secondthree {
    0%{
        right: -600px;
    }
    100%{
        bottom: 50%;
        right: 0;
    }
}
@keyframes secondeleven {
    0%{
        left: -600px;
        top: -200px;
    }
    100%{
        top: 20px;
        left: 22%;
    }
}
@keyframes secondten {
    0%{
        left: -600px;
        top: -200px;
    }
    100%{
        top: 120px;
        left: 7%;
    }
}
@keyframes secondone {
    0%{
        right: -600px;
        top: -200px;
    }
    100%{
        top: 20px;
        right: 22%;
    }
}
@keyframes secondtwo {
    0%{
        right: -600px;
        top: -200px;
    }
    100%{
        top: 120px;
        right: 7%;
    }
}
@keyframes secondseven {
    0%{
        left: -600px;
        bottom: -200px;
    }
    100%{
        bottom: 30px;
        left: 23%;
    }
}
@keyframes secondeight {
    0%{
        left: -600px;
        bottom: -200px;
    }
    100%{
        bottom: 140px;
        left: 8%;
    }
}
@keyframes secondfive {
    0%{
        right: -600px;
        bottom: -200px;
    }
    100%{
        bottom: 30px;
        right: 23%;
    }
}
@keyframes secondfour {
    0%{
        right: -600px;
        bottom: -200px;
    }
    100%{
        bottom: 140px;
        right: 8%;
    }
}
@keyframes rotateopp {
    100%{
        transform: rotate(-1turn);
    }
}
@keyframes rotateopptwelve {
    0%{
        transform: translate(-50% , 0);
    }
    100%{
        transform: translate(-50% , 0) rotate(-1turn);
    }
}
@keyframes rotateoppnine {
    0%{
        transform: translate(0,-50%);
    }
    100%{
        transform: translate(0,-50%) rotate(-1turn);
    }
}
@keyframes rotateoppthree {
    0%{
        transform: translate(0,50%);
    }
    100%{
        transform: translate(0,50%) rotate(-1turn);
    }
}