*{
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
}
body{
    background-color: #141414;
    position: relative;
    margin: 0;
}
body::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/Dust.png');
    background-size: cover;
}
ul{
    list-style: none;
}
.container {
    margin: auto;
}
.active{
    color: #EE4A26 !important;
}
@media (max-width : 2000px) {
    .container{
        width: calc(100% - 256px);
    }
}
@media (max-width : 900px) {
    .container{
        width: calc(100% - 128px);
    }
}
@media (max-width : 700px) {
    .container{
        width: calc(100% - 64px);
    }
}
/*header*/
.header {
    display: flex;
    justify-content: center;
}
.header .container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header .container .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header .container .logo img {
    width: 30px;
}
@media (max-width : 300px) {
    .header .container .logo img {
        width: 20px !important;
    }
}
.header .container ul {
    display: flex;
    height: fit-content;
}
.header .container .bars {
    height: 100%;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.header .container .bars i {
    color: white;
    font-size: 30px;
}
.header .container li {
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.header .container li a {
    text-decoration: none;
    transition: 0.3s;
}
.header .container li a:not(.active) {
    color: white ;
}
@media (max-width : 300px) {
    .header .container .bars i {
        color: white;
        font-size: 20px;
    }
}
@media (max-width : 540px) {
    .header .container ul {
        display: none;
    }
    .header .container .bars {
        height: 100%;
        display: flex;
        align-items: center;
    }
}
.header .container ul li {
    color: white;
    position: relative;
    z-index: 3;
}
.header .container ul li:first-child {
    color: #EE4A26;
}
.header .container ul li a:hover {
    color: #EE4A26;
}
.header .container ul li:not(:last-child){
    margin-right: 59px;
}
.sidelist {
    height: 100vh;
    float: right;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #333333;
    animation: fillmenu 1s forwards;
    display: none;
}
.sidelist ul li a:not(.active){
    color: white;
}
.sidelist ul li .active{
    color: #EE4A26;
}
.sidelist ul li a{
    transition: 0.3s;
    text-decoration: none;
}
.sidelist ul li a:hover {
    margin-left: 40px;
    color: #EE4A26;
}
.sidelist .closemenu {
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-right: 50px;
    font-weight: light;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    opacity: 0;
    animation: opacitychange 1s 1s forwards;
}
.transparent {
    height: 100vh;
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    display: none;
    animation: filllayer 0.5s forwards;
}
.sidelist ul {
    margin-top: 75px;
}
.sidelist ul li {
    color: white;
    margin-bottom: 59px;
    margin-left: 20px;
}
.sidelist ul li:first-child {
    color: #EE4A26;
}
@keyframes fillmenu {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes filllayer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.6;
    }
}
/*landing*/
.landing {
    margin-top: 128px;
}
.landing .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.landingtext div:first-child , .landingtext div:nth-child(2) {
    color: #E9E9E9;
    font-size: 80px;
    position: relative;
    width: fit-content;
    animation: rightentry 1s forwards;
}
@media (max-width : 400px) {
    .landingtext div:first-child , .landingtext div:nth-child(2) {
        font-size: 60px;
    }
    .landingtext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width : 315px) {
    .landingtext div:first-child , .landingtext div:nth-child(2) {
        font-size: 40px;
    }
    .landingtext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@keyframes rightentry {
    0%{
        transform: translateX(-600px);
    }
    100%{
        transform: translateX(0);
    }
}
.landingtext div:first-child::before , .landingtext div:nth-child(2)::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #E9E9E9 ;
    position: absolute;
    bottom: 30px;
    left: 5px;
    opacity: 0;
    animation: linesappear 1s 1s forwards;
}
@media (max-width : 400px) {
    .landingtext div:first-child::before , .landingtext div:nth-child(2)::before{
        bottom: 23px;
        left: 3px;
    }
}
@media (max-width : 315px) {
    .landingtext div:first-child::before , .landingtext div:nth-child(2)::before{
        bottom: 15px;
        left: 2px;
    }
}
@keyframes linesappear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.landingtext div:nth-child(2) span {
    color: #EE4A26;
}
.landingtext div:nth-child(3){
    color: #767676;
    font-size: 35px;
    animation: rightentry 2s forwards;
}
.landingimg {
    transform: scale(0.9);
}
.pimg{
    position: relative;
}
.pimg::before {
    content: '';
    height: 336px;
    width: 340px;
    background-color: #D9D9D9;
    position: absolute;
    z-index: 1;
    animation: firstlayer 1s forwards;
}
@keyframes firstlayer {
    0%{
        top: 100px;
        right: 100px;
    }
    100%{
        top: 0;
        right: 0;
    }
}
.pimg::after {
    content: '';
    height: 336px;
    width: 340px;
    border: 1px solid #D9D9D9;
    position: absolute;
    z-index:-2;
    background-color: #141414;
    background-image: url('/images/Dust.png');
    animation: secondlayer 1s 0.5s forwards;
    top:100px;
    right: 100px;
}
@keyframes secondlayer {
    0%{
        top:100px;
        right: 100px;
    }
    100%{
        top: 50px;
        right: 50px;
    }
}
.pimgtwo{
    height: 336px;
    width: 340px;
    border: 1.5px dashed #D9D9D9;
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: -3;
}
.pimg div {
    height: 400px;
    width: 340px;
    position: absolute;
    top: -63px;
    right: 0;
    z-index: 3;
    overflow: hidden;
}
.pimg div img {
    width: 105%;
    bottom: -110%;
    position: absolute;
    animation: imgappear 1s 1s forwards;
}
@keyframes imgappear {
    0%{
        bottom: -110%;
    }
    100%{
        bottom: 0;
    }
}
.pimg img:nth-child(2) {
    position: absolute;
    z-index: -1;
    top: -17px;
    right: -27px;
    opacity: 0;
    animation: opacitychange 1s 1.5s forwards;
}
@keyframes opacitychange {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width : 1230px) {
    .landingtext div:nth-child(3){
        font-size: 30px;
    }
    .landingimg{
        transform: scale(0.8);
        position: absolute;
        top: -20px;
        right: 0;
    }
}
@media (max-width : 980px) {
    .landingimg{
        display: none;
    }
    .landing .container {
        display: flex;
        justify-content: center;
    }
    .landingtext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landingtext div:nth-child(3) {
        text-align: center;
    }
}
/*projects*/
.projects {
    margin-top: 256px;
}
.projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.project {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 40px rgba(255, 255, 255, 0.062);
    width: fit-content;
    margin-bottom: 32px;
}
.project .firstsection {
    position: relative;
    z-index: 10;
    height: 400px;
    width: 400px;
}
.project:first-child .firstsection{
    background-image: url('../images/watch\ project.jpg');
    background-size: cover;
}
.project:nth-child(2) .firstsection{
    background-image: url('../images/projrct\ two.jpg');
    background-size: cover;
}
.project .secondsection {
    width: 368px ;
    height: 368px ;
    background-color: #333333;
    position: relative;
    z-index: 10;
    padding: 16px;
}
.project .secondsection p {
    color: #cccccc;
    margin: 0;
}
.project .secondsection ul {
    color: #cccccc;
    list-style-type:disc !important;
}
.project .secondsection h3 {
    color: rgb(221, 221, 221);
    font-weight: light;
    font-size: 25px;
}
.project .secondsection a {
    background-color: #EE4A26;
    color: #ffe3dc;
    padding: 16px;
    border-radius: 10px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.123);    
}
@media (max-width:550px) {
    .project .firstsection {
        height: 350px;
        width: 350px;
    }
    .project .secondsection {
        width: 318px ;
        height: 318px ;
    }
}
@media (max-width:450px) {
    .project .firstsection {
        height: 325px;
        width: 325px;
    }
    .project .secondsection {
        width: 293px ;
        height: 293px ;
    }
}
@media (max-width:350px) {
    .project .firstsection {
        height: 275px;
        width: 275px;
    }
    .project .secondsection {
        width: 243px ;
        height: 243px ;
    }
}
@media (max-width : 1350px) {
    .projects .container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .project {
        flex-direction: column;
    }
    .project .secondsection a{
        padding: 8px;
        font-size: 12px;
    }
    .project .secondsection h3{
        font-size: 20px;
    }
}
/*footer*/
.footer {
    margin-top: 64px;
}
.footer .container {
    display: flex;
    justify-content: center;
}
.footer .container a {
    color: #EE4A26;
    font-size: 40px;
    text-decoration: none;
    cursor: pointer;
}